EXPO_PUBLIC_SUPABASE_URL=https://dhkroavcdcmlpnjfkivm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoa3JvYXZjZGNtbHBuamZraXZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MzA4NjMsImV4cCI6MjEwNTUwNjg2M30.BMM9FPj_B-WfGpEmWzdLQC_0dSgbHENK7L2c8mDBFkE
